<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases><!--设置类型别名-->
        <package name="com.dsy.pojo"/><!--通过包设置，所有类名-->
    </typeAliases>


    <mappers>
        <mapper class="com.dsy.dao.BookMapper"/>
    </mappers>


</configuration>